<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css" rel="stylesheet">
    <title>Assignment - 3</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <br><br><br><br>
    <h1>
        <center>MAANG COMPANIES</center>
    </h1>
    <br><br><br><br>
    <center>
    <img src="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/meta.jpg" >&nbsp;
    <img src="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/apple.png" >&nbsp;
    <img src="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/amazon.jpg" >&nbsp;
    <img src="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/netflix.png" >&nbsp;
    <img src="https://assignibm.s3.jp-tok.cloud-object-storage.appdomain.cloud/google.jpeg" >&nbsp; 
    </center>
    {% endblock %}
</body>
</html>