{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>About Page</title>

    <style>
        body {
            background-color: #d18bc9;
            font-family: Verdana;
            text-align: center;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block body %}

    <div class="about-section" style="text-align: center;">
        <h1>About Our Page</h1>
        <p>Hello!!!
            This is our survey form.
            A survey is a form with questions specifically designed to gather information about people's experiences, preferences, wants, and needs.
            Specifically this survey is about students who are pursuing computer science based higher studies , to discover what domain most of the students choose.
            That's it about our website.        </p>
      </div>
      
              
        
    {% endblock %}
    
</body>
</html>