<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head %}
    <title>About Page</title>
    <link rel="stylesheet" href="/static/css/style.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    {% endblock %}
</head>
<body>
    {% block body %}

    <div class="about-section">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error nesciunt voluptates? Explicabo commodi architecto exercitationem reiciendis aspernatur sint ea praesentium aliquam magni id minima, molestiae cupiditate, maiores libero perspiciatis.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Prabakaran G</h2>
                    <p class="title">Team Leader</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Sanjay D</h2>
                    <p class="title">Team Member - 1</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Varun P</h2>
                    <p class="title">Team Member - 2</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Aakash K</h2>
                    <p class="title">Team Member - 3</p>
                </div>
            </div>
        </div>
    </div>

    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" onclick="document.location='/'">Go To Home Page!</button>
              
 
              
        
    {% endblock %}
    
</body>
</html>
