{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Home page</title>
    {% endblock %}
    

</head>
<body>
    {% block body %} 
    
    <h1 style="text-align: center;font-size:140px;color:#EC1E6D">WELCOME!</h1>
    <p style="color:#7D0576;text-align: center;font-size:40px;font-family:Parkavenue, cursive;" >Your warmly greeted and welcome to this app</p>
    <p style="color:#7D0576;text-align: center;font-size:40px;font-family:Parkavenue, cursive;" >Have a great experience</p>
    
      {% endblock %}
</body>
</html>