{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Home page</title>
    {% endblock %}
    

</head>
<body>
    {% block body %} 
    <h1 style= "font-size:140px ">Welcome!!</h1>
	<p style="font-family:Arial, Helvetica, sans-serif;color:red;font-size:80px">Welcome to this Application</p>
	<p style="font-family:Arial, Helvetica, sans-serif;color:black;font-size:80px">Be proud to use this Application</p>
    
      {% endblock %}
</body>
</html>