<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css" rel="stylesheet">
    <title>Assignment - 3</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <br><br><br><br>
    <h1>
        <center>Spider-Man Versions</center>
    </h1>
    <br><br><br><br>
    <center>
    <img src="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/1.webp" >&nbsp;
    <img src="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/2.webp" >&nbsp;
    <img src="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/3.webp" >&nbsp;
    <img src="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/4.jfif" >&nbsp;
    <img src="https://images-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/5.jpg" >&nbsp; 
    </center>

    <p> IBM ASSIGNMENT-3 BUCKET IMAGES </p>
    {% endblock %}
</body>
</html>